{% extends "admin/base_site.html" %}

{% block content %}
    <div id="chart" style="width: 600px;height:400px;"></div>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
    <script>
        var myChart = echarts.init(document.getElementById('chart'));
        myChart.showLoading();
        myChart.setOption(chartData);
        fetch('{% url 'chart_data' %}')
            .then(response => response.json())
            .then(data => {
                myChart.hideLoading();
                myChart.setOption(data);
            });
    </script>
{% endblock %}